{% extends 'bases.html' %}
{% block title %}
    Yangi Post hosil qilish
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}<br>
        <h1>Yangi Toifa Qo'shish</h1><br><br>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <button class="btn btn-secondary">Qo'shish</button>
            </form>
        </div>
    {% else %}
        <b><br><br>Iltimos oldin ro'yxatdan o'ting!!!</b>
    {% endif %}
{% endblock %}
