<footer class="footer-20192">
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="{% url 'home' %}" class="footer-logo">Ibrohim Bultakov</a>
                    <p class="copyright">
                        <small>&copy; {% now 'Y' %}</small>
                    </p>
                </div>
                {#                <div class="col-sm">#}
                {#                    <h3>Customers</h3>#}
                {#                    <ul class="list-unstyled links">#}
                {#                        <li><a href="#">Buyer</a></li>#}
                {#                        <li><a href="#">Supplier</a></li>#}
                {#                    </ul>#}
                {#                </div>#}
                <div class="col-sm">
                    <h3>Sayt haqida</h3>
                    <ul class="list-unstyled links">
                        <li><a href="{% url 'home' %}">O'zim haqimda</a></li>
                        {#                        <li><a href="{% url 'home' %}">Careers</a></li>#}
                        <li><a href="{% url 'home' %}">Bog'lanish</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h3>Further Information</h3>
                    <ul class="list-unstyled links">
                        <li><a href="{% url 'home' %}">Terms &amp; Conditions</a></li>
                        <li><a href="{% url 'home' %}">Privacy Policy</a></li>
                    </ul>
                </div>
                {#                <div class="col-md-3">#}
                {#                    <h3>Follow us</h3>#}
                {#                    <ul class="list-unstyled social">#}
                {#                        <li><a href="#"><span class="icon-facebook"></span></a></li>#}
                {#                        <li><a href="#"><span class="icon-twitter"></span></a></li>#}
                {#                        <li><a href="#"><span class="icon-linkedin"></span></a></li>#}
                {#                        <li><a href="#"><span class="icon-medium"></span></a></li>#}
                {#                        <li><a href="#"><span class="icon-paper-plane"></span></a></li>#}
                {#                    </ul>#}
                {#                </div>#}

            </div>
        </div>
    </div>
</footer>